/*Imports fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Condensed:wght@300&family=Secular+One&display=swap");

/*-----Site wide styles--------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
}

.star-template {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background: #ffffff;
  opacity: 0.3;
  filter: blur(2px);
  animation: fade-in-out 7.5s infinite alternate;
}

.information-wrapper {
  min-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----Titles--------*/

.titles {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin: 4rem;
}

.titles__main-title {
  width: 608px;
  height: 60px;

  font-family: "Secular One";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.09em;

  color: #ffffff;
}

.titles__second-title {
  width: 608px;
  height: 24px;

  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.6em;

  color: #ffd029;
}

/*-----Rings for information planet--------*/

.outer {
  display: none;
  background-color: #0c164d;
  position: absolute;
  border-radius: 50%;
}

.innerring {
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  position: absolute;
  border: 80px solid rgb(15, 21, 85);
  border-radius: 50%;
}

/*-----Planets--------*/

.planets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70dvw;
  height: 65dvh;
}

.thesun {
  background: #ffd029;
  border-radius: 50%;
  display: inline-block;
  width: 1000px;
  height: 1300px;
  box-shadow: 0px 0px 250px rgba(255, 208, 41, 0.2);
  position: absolute;
  left: -750px;
}

.thesun:hover {
  background: linear-gradient(
    90deg,
    rgba(39, 40, 41, 1) 0%,
    rgba(255, 208, 41, 1) 100%
  );
  box-shadow: -1px 3px 50px -16px #ffffff;
  transform: translate3d(0px, -2px, 0px);
}

.planets__mercury {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  background: #7a91a7;
}

.planets__mercury:hover {
  background: linear-gradient(
    311deg,
    rgba(102, 110, 119, 1) 0%,
    rgba(122, 145, 167, 1) 71%,
    rgba(200, 209, 218, 1) 100%
  );
  box-shadow: -1px 3px 40px 10px #ffffff;
  transform: translate3d(0px, -2px, 0px);
}

.planets__venus {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-block;
  background: #e7cdcd;
}

.planets__venus:hover {
  background: linear-gradient(
    311deg,
    rgba(231, 205, 205, 1) 0%,
    rgba(231, 205, 205, 1) 71%,
    rgba(227, 221, 221, 1) 100%
  );
  box-shadow: -1px 3px 50px 0px #ffffff;
  transform: translate3d(0px, -2px, 0px);
}

.planets__earth {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  background: #428ed4;
}

.planets__earth:hover {
  background: linear-gradient(
    311deg,
    rgba(106, 118, 129, 1) 0%,
    rgba(66, 142, 212, 1) 71%,
    rgba(198, 209, 219, 1) 100%
  );
  box-shadow: -1px 3px 50px 0px #ffffff;
  transform: translate3d(0px, -2px, 0px);
}

.planets__mars {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  background: #ef5f5f;
}

.planets__mars:hover {
  background: linear-gradient(
    311deg,
    rgba(115, 95, 85, 1) 0%,
    rgba(239, 95, 95, 1) 71%,
    rgba(232, 215, 215, 1) 100%
  );
  box-shadow: -1px 3px 40px 10px #ffffff;
  transform: translate3d(0px, -2px, 0px);
}

.planets__jupiter {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #e29468;
}

.planets__jupiter:hover {
  background: linear-gradient(
    311deg,
    rgb(47, 45, 44) 0%,
    rgba(226, 148, 104, 1) 71%,
    rgba(232, 210, 197, 1) 100%
  );
  box-shadow: -1px 3px 50px -16px #ffffff;
  transform: translate3d(0px, -2px, 0px);
}

.planets__saturn {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  display: inline-block;
  background: #c7aa72;
}

.planets__combined-saturn {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.planets__combined-saturn:hover {
  background: linear-gradient(
    311deg,
    rgb(98, 90, 75) 0%,
    rgba(199, 170, 114, 1) 71%,
    rgba(207, 199, 184, 1) 100%
  );
  box-shadow: -1px 3px 50px -16px #ffffff;
  transform: translate3d(0px, -2px, 0px);
}

.planets__saturn__ring {
  position: absolute;
  top: 70px;
  left: -2rem;

  width: 218.23px;
  height: 5.5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(-30deg);
}

.planets__uranus {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: inline-block;
  background: #c9d4f1;
}

.planets__uranus:hover {
  background: linear-gradient(
    311deg,
    rgb(114, 136, 158) 0%,
    rgba(201, 212, 241, 1) 71%,
    rgba(193, 198, 210, 1) 100%
  );
  box-shadow: -1px 3px 50px -16px #ffffff;
  transform: translate3d(0px, -2px, 0px);
}

.planets__neptune {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: inline-block;
  background: #7a91a7;
}

.planets__neptune:hover {
  background: linear-gradient(
    311deg,
    rgba(77, 92, 107, 1) 0%,
    rgba(122, 145, 167, 1) 71%,
    rgba(163, 186, 208, 1) 100%
  );
  box-shadow: -1px 3px 50px -16px #9b9b9b;
  transform: translate3d(0px, -2px, 0px);
}

/*-------- Information --------*/

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 16px;

  width: 640px;
  height: 100px;
}

.information--styling {
  color: white;
}
.information__close-x-flex {
  display: flex;
  justify-content: end;
  align-items: center;
}

.information__close-x {
  display: inline-block;
  cursor: pointer;
  width: 3%;
  height: 3%;
  justify-content: end;
  align-items: center;
  margin: 1rem;
  font-family: "Secular One";
  font-style: normal;
  font-weight: 400;
}

.information__title {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 625px;
  height: 60px;
  font-family: "Secular One";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0.09em;
  padding-bottom: 2rem;
  color: #ffffff;
}

.information__title-two {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 625px;
  height: 24px;
  padding-bottom: 2rem;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.6em;

  color: #ffd029;
}

.information__paragraph {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 170%;

  color: #ffffff;
}

.information__line {
  width: 592px;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.Information__extra {
  display: flex;
  flex-wrap: wrap;
}

.information__section {
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.Information__extra__title {
  width: 304px;
  height: 18px;
  font-family: "Secular One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.09em;
  color: #ffffff;
}

.information__extra-value {
  width: 304px;
  height: 18px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0.16em;

  color: #ffffff;
}

.information__extra--moons {
  max-width: 35rem;
  margin: auto;
  margin-top: 10rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin: 1rem;
  word-wrap: break-word;
  width: 640px;
  height: 22px;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0.16em;

  color: #ffffff;
}

/*-----Media queries--------*/
/* 
@media only screen and (max-width: 1200px) {
  .planets {
    width: 10dvw;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
} */

/*----- Animations --------*/

@keyframes fade-in-out {
  from {
    opacity: 0.9;
    box-shadow: rgba(255, 255, 255, 0.7) 0px 0px 5px 1px;
  }
  to {
    opacity: 0.3;
    box-shadow: rgba(255, 255, 255, 0.7) 0px 0px 0px 0px;
  }
}
